<h1>recherche Voiture</h1>
<form action=""  method="post">
    serie: <input type="text" name="input_serie">
    <input type="submit"  value="Rechercher">
</form>
{% if  voitures is empty %}
Aucune voiture trouvée
{% else %}
<table border="1">
    <tr>
        <td>serie</td>
        <td>modele</td>
    </tr>
    {% for v in voitures %}
    <tr>
        <td>{{ v.serie }}</td>
        <td>{{ v.modele }}</td>
    </tr>
    {% endfor %}
</table>
{% endif  %}